@page "/"
@inject IBlogService Blog
@inject AuthenticationStateProvider AuthStateProvider

<div class="mx-auto">
    @if (_posts != null)
    {
        @foreach (var post in _posts)
        {
            <PostPreview Post="post" />
        }

        <div>
            <span>@_posts.Count posts shown</span>
        </div>
    }
</div>

@code {
    private IList<BlogService.Db.Post> _posts;

    protected override async Task OnInitializedAsync()
    {
        _posts = (await Blog.QueryPostsAsync(QueryPostsRequest.QueryAll())).Posts;

        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        if (!state.User.IsInRole("Admin"))
        {
            _posts = _posts.Where(p => p.IsHidden == false).ToArray();
        }

        await base.OnInitializedAsync();
    }
}