@page "/signup"
@inject IBlogService Blog;
@inject NavigationManager Navigator;

<div class="form-sm mx-auto">
    <FormTemplate OnSubmit="SignUpAsync">
        <span>User name</span>
        <FormTextInput @bind-Value="@_model.UserName" />
        <span>E-mail</span>
        <FormTextInput @bind-Value="@_model.EMail" />
        <span>Password</span>
        <FormTextInput type="password" @bind-Value="@_model.Password" />
        <span>Password confirmation</span>
        <FormTextInput type="password" @bind-Value="@_model.PasswordConfirmation" />

        <FormValidator />

        <FormButton Name="Sign Up" IsSubmit="true" />
    </FormTemplate>
</div>

@code {
    public class SignUpModel
    {
        [Required]
        public string UserName { get; set; }

        [Required]
        public string EMail { get; set; }

        [Required]
        public string Password { get; set; }

        [Required]
        [Compare(nameof(Password))]
        public string PasswordConfirmation { get; set; }
    }

    public static string GetPath()
    {
        return "/signup";
    }

    readonly SignUpModel _model = new SignUpModel();

    public async Task SignUpAsync()
    {
        await Blog.SignUpAsync(new SignUpRequest(_model.UserName, _model.EMail, _model.Password));

        Navigator.NavigateTo(SignIn.GetPath());
    }
}
