<CascadingValue Value="@IsInline">
    <CascadingValue Value="@Context">
        @if (IsInline)
        {
            <EditForm Model="Model" @attributes="@AdditionalAttributes" EditContext="Context" OnValidSubmit="OnSubmit" class="form-inline">
                @ChildContent
            </EditForm>
        }
        else
        {
            <div class="align-middle" @attributes="@AdditionalAttributes">
                @if (Model == null)
                {
                    <EditForm EditContext="Context" OnValidSubmit="OnSubmit">
                        @ChildContent
                    </EditForm>
                }
                else
                {
                    <EditForm Model="Model" OnValidSubmit="OnSubmit">
                        @ChildContent
                    </EditForm>
                }
            </div>
        }
    </CascadingValue>
</CascadingValue>

@code {
    [CascadingParameter(Name = "IsDisabled")]
    public bool IsDisabled { get; set; }

    [Parameter]
    public bool IsInline { get; set; }

    [Parameter]
    public EditContext Context { get; set; }

    [Parameter]
    public object Model { get; set; } = new object();

    [Parameter]
    public EventCallback OnSubmit { get; set; } = new EventCallback();

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }
}
