@if (IsInline)
{
    <div class="row mb-2">
        <h3>@Name</h3>
    </div>
}
else
{
    <h3>@Name</h3>
}

@code {
    [Parameter]
    public string Name { get; set; }

    [CascadingParameter]
    public bool IsInline { get; set; }
}
