@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    min-height: 100vh;
}

.form-sm {
    max-width: 500px;
}

/*.mce-content-body table {
    border-collapse: collapse
}

    .mce-content-body table td, table th {
        border: 1px solid #ccc;
        padding: .4rem
    }

.mce-content-body figure {
    display: table;
    margin: 1rem auto
}

    .mce-content-body figure figcaption {
        color: #999;
        display: block;
        margin-top: .25rem;
        text-align: center
    }

.mce-content-body hr {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 0 0
}

.mce-content-body code {
    background-color: #e8e8e8;
    border-radius: 3px;
    padding: .1rem .2rem
}

.mce-content-body:not([dir=rtl]) blockquote {
    border-left: 2px solid #ccc;
    margin-left: 1.5rem;
    padding-left: 1rem
}

.mce-content-body[dir=rtl] blockquote {
    border-right: 2px solid #ccc;
    margin-right: 1.5rem;
    padding-right: 1rem
}*/

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}