@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <NavMenu />
    </div>

    <div class="row">
        <div class="col mx-auto" style="max-width:1000px">
            <div class="row">
                @Body
            </div>
        </div>
    </div>
</div>

