@inject NavigationManager Navigator;
@inject IAuthService Auth;

<div class="col-12" style="padding-left:0;padding-right:0;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="" @onclick:preventDefault>Absurd coding</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <a class="nav-link" href="" @onclick:preventDefault @onclick="() => Auth.SignOutAsync()">SignOut</a>
                        </li>
                    </Authorized>

                    <NotAuthorized>
                        <li class="nav-item">
                            <a class="nav-link" href="" @onclick:preventDefault @onclick="() => Navigator.NavigateTo(BlogV2.Pages.SignIn.GetPath())">SignIn</a>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>

                <AuthorizeView Roles="Admin">
                    <li class="nav-item">
                        <a class="nav-link" href="" @onclick:preventDefault @onclick="() => Navigator.NavigateTo(BlogV2.Pages.NewPost.GetPath())">New post</a>
                    </li>
                </AuthorizeView>
            </ul>
        </div>
    </nav>
</div>

@code {

}
