@inject IJSRuntime JS;

@if (Post != null)
{
    <div class="col mx-auto">
        <FormTemplate Model="Post" OnSubmit="SubmitAsync">
            <span>Title</span>
            <FormTextInput @bind-Value="@Post.Title" />

            <span>Body preview</span>
            <textarea id="@PreviewEditorId" class="form-control" />

            <div class="mt-2">
                <span>Body</span>
                <textarea id="@BodyEditorId" class="form-control" />
            </div>

            <FormValidator />

            <div class="mt-2">
                <FormButton Name="@SubmitName" IsSubmit="true" />
            </div>
        </FormTemplate>
    </div>
}

@code {
    const string BodyEditorId = "body";
    const string PreviewEditorId = "bodypreview";

    [Parameter]
    public PostData? Post { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [Parameter]
    public string SubmitName { get; set; } = "Submit";

    protected override async Task OnParametersSetAsync()
    {
        if (Post != null)
        {
            await JS.InvokeAsync<string>("SetBody", BodyEditorId, Post.Body);
            await JS.InvokeAsync<string>("SetBody", PreviewEditorId, Post.BodyPreview);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeAsync<object>("InitTinyMCE", BodyEditorId, false);
        await JS.InvokeAsync<object>("InitTinyMCE", PreviewEditorId, true);

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task SubmitAsync(object arg)
    {
        Post.Body = await JS.InvokeAsync<string>("GetBody", BodyEditorId);
        Post.BodyPreview = await JS.InvokeAsync<string>("GetBody", PreviewEditorId);

        await OnSubmit.InvokeAsync(arg);
    }
}
