@inject IJSRuntime JS

<span class="text-justify">
    @ChildContent
</span>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("window.Prism.highlightAll");
    }
}
